<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rtssh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <rtssh.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="host" serializeAs="String">
                <value>192.168.122.1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value />
            </setting>
            <setting name="autoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jsonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="tempText" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="freqText" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="separatorComma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayToggle" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="refreshInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>False</value>
            </setting>
        </rtssh.Properties.Settings>
    </userSettings>
</configuration>